:is(h1, h2, h3, h4, h5, h6) .anchor--before {
	display: none;
	user-select: none;
	color: var(--secondary);
	font-weight: 500;
	position: absolute;
	transform: translateX(-100%);
	box-shadow: none;
}

@media(min-width: 800px) {
	:is(h1, h2, h3, h4, h5, h6):hover .anchor--before {
		display: revert;
	}
}

:is(h1, h2, h3, h4, h5, h6) .anchor--after {
	display: none;
	user-select: none;
	color: var(--secondary);
	font-weight: 500;
	box-shadow: none;
}

@media(max-width: 800px) {
	:is(h1, h2, h3, h4, h5, h6):hover .anchor--after {
		display: revert;
	}
}

.anchor__hashtag {
	box-shadow: 0 1px 0;
}
