{{- /* formats .Content headings by adding an anchor */ -}}
{{ . | replaceRE "(<h[1-6] id=\"([^\"]+)\"[^>]*>)(.*)(</h[1-6]+>)" "${1}<a class=\"anchor--before\" href=\"#${2}\"><span class=\"anchor__hashtag\">#</span>&nbsp;</a>${3}<a class=\"anchor--after\" href=\"#${2}\">&nbsp;<span class=\"anchor__hashtag\">#</span></a>${4}" | safeHTML }}
